.connection-details-notes {
  .card-details-info-block-inner {
    padding: 1.25rem;
  }

  .connection-details-note-text {
    font-weight: var(--font-weight-regular);
    margin-top: 0.625rem;
    display: block;
  }

  .connection-details-note-title {
    font-weight: var(--font-weight-medium);
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .card-details-info-block-inner {
      padding: var(--spacing-md);
    }

    .connection-details-note-text {
      font-size: 0.8rem;
      margin-top: 0.2rem;
    }
  }
}
