.custom-sign-confirmation {
  .page-header {
    ion-toolbar {
      --background: transparent;
      margin-top: 0.625rem;
    }
  }

  .sign-confirmation-body {
    margin: var(--spacing-lg) 0;

    h3 {
      line-height: var(--line-height-relaxed)rem;
      margin-bottom: 0.75rem;
    }

    p {
      line-height: var(--line-height-normal)rem;
    }
  }

  .page-footer {
    padding: var(--spacing-md) 0;
    margin-bottom: 1rem;

    ion-button {
      direction: rtl;

      ion-icon {
        margin-left: 0.5rem;
        margin-right: 0;
      }
    }
  }
}
