.recovery-seedphrase-docs-modal {
  .info-card {
    margin-top: 0.25rem;
  }

  .document-section {
    .image {
      margin: var(--spacing-sm) auto 0;
      display: block;
    }

    .content {
      margin: var(--spacing-sm) 0 0;
      font-weight: var(--font-weight-medium);
    }
  }
}
